h1 {
  font-family: "Gilroy-Bold";
  color: #070707;
  line-height: 59px;
}
p {
  font-family: "Gilroy-Medium";
}
p.description {
  margin-bottom: 4rem;
}
a.nav-link {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}
.bx-star {
  font-size: 2rem;
  color: #0707077a;
}
.bx-star.checked {
  color: #070707;
}

.ru-lang {
  text-decoration: none;
  color: #070707;
}

.en-lang {
  text-decoration: none;
  color: #070707;
}

.main-photo {
  border-radius: 15px;
}

.second-photo {
  border-radius: 15px;
  position: relative;
  left: 16%;
}

.research_button {
  text-decoration: none;
}
